params {
  inputDir = "$baseDir/data/diploid_paired/chr1"
  fromBAM = true
  hisat2Threads = 4
  isPaired = true

  genomeFastaFile = "$baseDir/data/genome_diploid/chr1/genome.fa"
  gtfFile = "$baseDir/data/cnvInputFiles_diploid/lmajF_chr1.gtf"
  geneFootprintFile = "$baseDir/data/cnvInputFiles_diploid/lmajF_geneFootprints_chr1.txt"
  winLen = 1000
  ploidy=2

  // there will be many files here.  
  //hisat2Index = "$baseDir/data/genome_haploid_index/premade_index";
  hisat2Index = "NA";
  createIndex = true

  outputDir = "/home/kathryn/dnaseqAnalysis/output"

  trimmomaticAdaptorsFile = "$baseDir/data/trimmomatic_adaptors/All_adaptors-PE.fa"

  varscanPValue = 0.01
  varscanMinCoverage = 5
  //TODO check settings for these in existing workflow
  varscanMinVarFreqSnp = 0.2
  varscanMinVarFreqCons = 0.2

  maxNumberOfReads = 15000000

  gatkJar = "NA"
  picardJar = "NA"
  varscanJar = "NA"

}

docker {
    enabled = true
}
singularity {
    enabled = false
}
