params {

  inputDir = "$baseDir/data/haploid_paired/chr1"
  fromBAM = true
  hisat2Threads = 4
  isPaired = true

  minCoverage = 5

  genomeFastaFile = "$baseDir/data/genome_haploid/genome.fa"
  gtfFile = "$baseDir/data/cnvInputFiles_haploid/genes.gtf"
  geneFootprintFile = "$baseDir/data/cnvInputFiles_haploid/geneFootprints.txt"
  winLen = 1000
  ploidy=1

  // there will be many files here.  
  //hisat2Index = "$baseDir/data/genome_haploid_index/premade_index";
  hisat2Index = "NA";
  createIndex = true

  outputDir = "$baseDir/dnaseqAnalysis/output"

  trimmomaticAdaptorsFile = "$baseDir/data/trimmomatic_adaptors/All_adaptors-PE.fa"

  varscanPValue = 0.01
  //TODO needs changing for diploid+ organisms
  varscanMinVarFreqSnp = 0.8
  varscanMinVarFreqCons = 0.8

  maxNumberOfReads = 200000

  gatkJar = "NA"
  picardJar = "NA"
  varscanJar = "NA"

}

docker {
    enabled = true
    runOptions = '--user root'
}
singularity {
    enabled = false
}
