profiles {

  //--------------------------------------------------------------------------------------------
  // processSingleExperiment
  //--------------------------------------------------------------------------------------------

  processSingleExperiment {

    params {
      //input = "$baseDir/data/runaccessions.tsv"
      input = "$baseDir/data/diploid_paired/chr1/"
      fromBAM = false
      local = true
      hisat2Threads = 4
      isPaired = true
      minCoverage = 5
      genomeFastaFile = "$baseDir/data/genome_diploid/chr1/genome.fa"
      gtfFile = "$baseDir/data/cnvInputFiles_diploid/lmajF_chr1.gtf"
      footprintFile = "$baseDir/data/cnvInputFiles_diploid/lmajF_geneFootprints_chr1.txt"
      winLen = 1000
      ploidy=2
      //hisat2Index = "$baseDir/data/genome_haploid_index/premade_index";
      hisat2Index = "NA";
      createIndex = true
      outputDir = "$launchDir/output"
      trimmomaticAdaptorsFile = "NA"
      varscanPValue = 0.01
      varscanMinVarFreqSnp = 0.8
      varscanMinVarFreqCons = 0.8
      maxNumberOfReads = 200000
      ebiFtpUser = ''
      ebiFtpPassword = ''
      organismAbbrev = ''
    }

    docker {
      enabled = true
      runOptions = '--user root'
    }

  }


//--------------------------------------------------------------------------------------------
  // loadCNV
  //--------------------------------------------------------------------------------------------

  loadCNV {

    params {
      input = "$launchDir/results/"
      outputDir = "$launchDir/output"
      gusConfig = "$launchDir/data/merge_setup/gusConfig.txt"
      footprintFile = "$launchDir/data/cnvInputFiles_diploid/lmajF_geneFootprints_chr1.txt"
      ploidy = 2
      taxonId = "1577702"
    }
  }

  //--------------------------------------------------------------------------------------------
  // mergeExperiments
  //--------------------------------------------------------------------------------------------

  mergeExperiments {

    params {
      inputDir = "$launchDir/output/"
      outputDir = "$launchDir/results/"
      cacheFile = "$launchDir/data/merge_setup/cache.txt"
      undoneStrains = "$launchDir/data/merge_setup/undoneStrains.txt"
      organism_abbrev = 'lmajFriedlin' 
      reference_strain = 'Friedlin'
      varscanFilePath = "$launchDir/output/varscanCons/"
      varscan_directory = "$launchDir/varscanCons/"
      genomeFastaFile = "$launchDir/data/genome_diploid/chr1/genome.fa"
      gtfFile = "$launchDir/data/cnvInputFiles_diploid/lmajF_chr1.gtf"
      webServicesDir = "$launchDir/webservices"
      extDbRlsSpec = '"lmajFriedlin_NGS_SNPsAndVariations|do_not_care"'
      gusConfig = "$launchDir/data/merge_setup/gusConfig.txt"
    }

   docker {
      enabled = true
    }

  }

  //--------------------------------------------------------------------------------------------
  // tests
  //--------------------------------------------------------------------------------------------

  tests {

    params {
      testDir = '/home/rdemko/workspace/djob/dnaseqAnalysis/testing/t/'
      outputDir = '/home/rdemko/workspace/djob/dnaseqAnalysis/output/'
    }

    docker {
      enabled = true
    }

  }
  
}