params {
  inputDir = "$baseDir/data/fastq_paired_haploid"
  genomeFile = "$baseDir/data/genome.fa"
  outputDir = "$baseDir/data"
  isPaired = true
}
// the docker container here for now is being built locally (not yet in dockerhub)
process {
    withName:fastqc {
        container = 'veupath/dnaseqanalysis'
    }
}
docker {
    enabled = true
}
