profiles {

  //--------------------------------------------------------------------------------------------
  // processSingleExperiment
  //--------------------------------------------------------------------------------------------

  processSingleExperiment {

    params {
      // Input samplesheet in nf-core CSV format
      // Required columns: sample, fastq_1, fastq_2 (fastq_2 can be empty for single-end)
      samplesheet = "$baseDir/data/samplesheet_chr1.csv"
      bwaThreads = 4
      minCoverage = 1
      genomeFastaFile = "$baseDir/data/genome_haploid/genome.fasta"
      gtfFile = "$baseDir/data/haploid_paired/Shared/pfal3D7.gtf"
      footprintFile = "$baseDir/data/haploid_paired/Shared/geneFootprintsFile"
      winLen = 1000
      ploidy=1
      genomeRepeatsBedFile = null
      outputDir = "$launchDir/output"
      geneSourceIdOrthologFile = "$baseDir/data/haploid_paired/Shared/geneSourceIdOrthologFile.tsv"
      chrsForCalcFile = "$baseDir/data/haploid_paired/Shared/chrsForCalcsFile.tsv"
    }

    docker {
      enabled = true
      runOptions = '--user root'
    }

  }

  //--------------------------------------------------------------------------------------------
  // loadSingleExperiment
  //--------------------------------------------------------------------------------------------

  loadSingleExperiment {

    params {

      indelDir = "$launchDir/output/"
      extDbRlsSpec = '"lmajFriedlin_NGS_SNPsAndVariations|do_not_care"'
      genomeExtDbRlsSpec = '"RDEMKO|do_not_care"'      

    }

  }

  //--------------------------------------------------------------------------------------------
  // mergeExperiments
  //--------------------------------------------------------------------------------------------

  mergeExperiments {

    params {
      vcfFiles                     = "$launchDir/data/merge_setup/**/results/*.vcf.gz" // per-sample {sampleName}.vcf.gz; freebayes.snps/indels.vcf.gz must not be published to outputDir
      coverageFiles                = "$launchDir/data/merge_setup/**/results/*_coverage.bed.gz"
      indelsFiles                  = "$launchDir/data/merge_setup/**/results/indels.tsv"
      relativeConsensusFilePattern = "$launchDir/data/merge_setup/**/results/*_consensus.fa.gz"
      cacheFile                 = "$launchDir/data/merge_setup/cache.tsv"
      outputDir       = "$launchDir/output/"
      genomeFastaFile = "$launchDir/data/genome_haploid/genome.fasta"
      gtfFile         = "$launchDir/data/haploid_paired/Shared/pfal3D7.gtf"
      reference_strain = 'pfal3D7'
      benchmarkVariations = false  // set true (or -profile ... --benchmarkVariations) to emit a timing/call-count report to .command.err
    }

   docker {
      enabled = true
    }

  }

}
