params {

  workflow = "loadPloidyAndCNV"
  inputDir = "$launchDir/results/"
  outputDir = "$launchDir/output"
  gusConfig = "$launchDir/data/merge_setup/gusConfig.txt"
  footprintFile = "$launchDir/data/cnvInputFiles_diploid/lmajF_geneFootprints_chr1.txt"
  ploidy = 2
  taxonId = "1577702"

}

docker {
  enabled = true
  runOptions = "--network host"
}